@import '_Variables.scss';

.ReactModalPortal > div {
    opacity: 0;
}

.ReactModalPortal .ReactModal__Overlay {
    align-items: center;
    display: flex;
    justify-content: center;
    transition: opacity 200ms ease-in-out;
}

.ReactModalPortal .ReactModal__Overlay--after-open {
    opacity: 1;
}

.ReactModalPortal .ReactModal__Overlay--before-close {
    opacity: 0;
}

.modal {
    background-color: $backModal;
    color: white;
    max-width: 30rem;
    outline: none;
    padding: 20px;
    text-align: center;
}

.modal__title{
    font-size: 26px;
}

.modal__body{

}

.modal__btn{
    background-color: $backHeader;
    border: none;
    padding: 10px;
    width: 200px;
    font-family: 'Prosto One', cursive;
    color: white;
    cursor: pointer;
    outline: none;
}